* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

body {
    margin: 0 auto; 
    padding: 40px;
    font-family: 'Roboto', sans-serif; }

.canvas{
    padding: 40px; }

img {
    display: block; }

ul, li {
    margin: 0;
    padding: 0;
    list-style: none; }

.tableu1{
    max-width: 492px;
}
.tableu1 ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20px);
    grid-auto-rows: 10px;
    grid-auto-flow: dense;
    border: 6px solid #f8f8f8;
}
.tableu1 li:nth-child(1){
    grid-column: span 10;
    border-bottom: 5px solid black;
}
.tableu1 li:nth-child(2){
    grid-column: span 8;
    grid-row: span 2;
    border-left: 5px solid black;   
    border-right: 5px solid black;   
    border-bottom: 5px solid black;   
}
.tableu1 li:nth-child(3){
    grid-column: span 2;
    grid-row: span 4;
    border-bottom: 5px solid black;   
}

.comp2{
    max-width: 412px;
}
.comp2 ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
    grid-auto-rows: 40px;
    grid-auto-flow: dense; 
    border: 6px solid #f8f8f8;
}
.comp2 li:nth-child(1){
    grid-column: span 2;
    grid-row: span 3;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
}
.comp2 li:nth-child(2){
    grid-column: span 6;
    grid-row: span 6;
    border-bottom: 6px solid black;
}
.comp2 li:nth-child(3){
    grid-column: span 2;
    grid-row: span 3;
    border-right: 6px solid black;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
}
.comp2 li:nth-child(4){
    grid-column: span 2;
    grid-row: span 2;
    border-right: 6px solid black;
}
.comp2 li:nth-child(5){
    grid-column: span 5;
    grid-row: span 2;
    border-right: 6px solid black;
}
.comp2 li:nth-child(6){
    grid-row: span 1;
    border-bottom: 6px solid black;
}
.comp2 li:nth-child(7){
    grid-row: span 1;
}



/*colors*/
.white{
    background: #fff;
}
.lightgray{
    background: #ddd;
}
.yellow{
    background: #f0df6d;
}
.red{
    background: #d6210e;
}
.blue{
    background: #0160a0;
}